.profile-color-block {
    height: 150px;
}

.img{
    height:150;
    width:150;
    position: center;
    margin: auto;
}


.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

.main {
    float: left;
}

.sidebar {
    float: right;
}

.search{
    float: left;
    padding-top: 7px;
    line-height: 22px;

}

.clrpick{
    float: right;
}