/* Created by: Iva Jesenkovic */
/********* BASE *********
***************************/
body{
  background:#fff;
  color:#666;
  font-family:"Arvo","Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:1em;
  line-height:1.4em; 
  font-weight:normal;
  margin-top:80px;
  margin: 0;
}


.fmcircle_out {
  width: 130px;
  height: 130px;
  background: rgba(221,221,221,0.3) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAO0lEQVQYV2NkIAIwElKze/fu/3gVgRS4uroyEjQJZBNWRTATYE7BUISuAKdJ6J6Bm4TNBBTr8CkAKQQA02QXOj4w/E8AAAAASUVORK5CYII=);
  text-align: center;
  display: block;
  margin-left: 10px;
    
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

  .fmcircle_out:hover {
  opacity: 1; 
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  

  


.fmcircle_in {
  width: 110px;
  height: 110px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  
  border-radius: 85px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  -o-border-radius: 85px;
}

.fmcircle_in img {
  border: none;
  margin: 23px;
  width: 64px;
  height: 64px;
    
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_in span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  width: 110px;
  background: #fff;
  color: #666666;
  padding: 5px;
  margin: 40px 0 0 0;
  height: 29px;
  text-align: center;
  font-weight: bold;
  font-family: comic;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  float: left;
  position: absolute;
  opacity: 0;
  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
    
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

  .fmcircle_out:hover .fmcircle_in span {
    opacity: 1;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

/*** Base64 Patterns ***/

.fmcircle_blue {
  background:  #3498DB;
}

.fmcircle_red {
  background: #82BF56;
}

.fmcircle_orange {
  background:  #F2CF66;
}

.fmcircle_green {
  background:  #E74C3C;
}
.fmcircle_gold{
  background:  #ff5c33;
}
.fmcircle_indigo{
  background:  #4B0082;
}
.fmcircle_pink{
  background:  #FF69B4;
}
.fmcircle_burgundy{
  background:   #66b3ff;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/




 #map {
        height: 400px;
        width: 100%;
        margin-top: 60px;
        border:2px solid #888888 ;
        color: #000000;
       }


.ing h1{ font-family: "rockwell";
font-size:27px;}





/* Box sizing. */
*{box-sizing:border-box; -moz-box-sizing:border-box;}
/* Responsive images  */
img{ max-width:100%; height:auto;}

/* Contain floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}

.centered-text{text-align:center;}


/********* LAYOUT *********
***************************/
.wrapper{
  width: 92%; 
  margin: 0 auto;
  position:relative;
}
header{ 
  padding:15px 0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:80px;
  z-index:100;
  border-bottom:2px solid #606060  ;
}
#banner{ float:left;}
#hero{
  padding:60px 0 60px;
}
#find{padding:60px 0 70px;}
#information{padding:60px 0 100px;}
footer{
  background:#333;
  color:#ccc;
  font-size:80%;
  padding:20px 0;
}
/*SPACE GRID ELEMENTS VERTICALLY, SINCE THEY ARE ONE UNDER ANOTHER SO FAR*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-bottom:40px;
  /*positioning and padding*/
  position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}



/********* MODULES *********
***************************/
/*Main menu (toggle)*/
.menu-toggle{
  display:block;
  float:right;
  padding:10px;
  margin:15px 0 0;
  background:#a6a6a6;
  color:#fff;
  cursor:pointer;
  text-transform:uppercase;
  font-size:20px;
}
.menu-toggle.toggled-on{
  background:#000;
}
.srt-menu{
  display:none;
} 
.srt-menu.toggled-on{
  display:block;
}

.srt-menu{
  clear:both;
  margin-bottom:20px;
    list-style: none;
}

.srt-menu li a {
  color:#fff;
  background:#666;
  display:block;
  padding:10px;
  border-bottom:1px solid #555;
  font-family: rockwell;
  font-size:16px;
  text-decoration: none;
    list-style: none;


}

.tab-content{ color: #000; }




/********* THEME*********
***************************/
.background-blue{ background:#51c4d4; color:#fff;}
.background-grey{ background:#2b2d34;}
.background-lightgrey{ background:#f0f0f0;}
.background-greyish{ background:  #A8A8A8  ; color:#fff;}





/****************************************
*****************************************
MEDIAQUERIES
*****************************************
****************************************/

/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {

} 

/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {
body:after {
    content: 'large';
    display: none;
}
.wrapper{
  max-width: 1200px; 
}
#find .wrapper{
  max-width:700px;
}
/*Grid*/
.row{
   margin-left: -15px;
     margin-right: -15px;
}
 
.grid_1 { width: 8.33333333%; }
.grid_2 { width: 16.66666667%; }
.grid_3 { width: 25%; }
.grid_4 { width: 33.33333333%; }
.grid_5 { width: 41.66666667%; }
.grid_6 { width: 50%; }
.grid_7 { width: 58.33333333%; }
.grid_8 { width: 66.66666667%; }
.grid_9 { width: 75%; }
.grid_10 { width: 83.33333333%; }
.grid_11 { width: 91.66666667%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  float: left;
  display: block;
}

.rightfloat{float:right;}
/* @notation inspired by tinyGrid, .row and percentage by Twitter Bootstrap
 */

/*** Main menu ***/
.menu-toggle{display:none;}
#menu-main-navigation{display:block;}

.srt-menu{
  margin:     0;
  padding:    0;
  list-style:   none;
}
.srt-menu li {
  float:      left;
  position:   relative;
  margin-left:1px;
  height:25px;
}
.srt-menu a {
  display:    block;
  position:   relative;
}
/*** One-pager skin ***/
#topnav, .srt-menu {
  float:right;
  margin: 0;
}
.srt-menu a {
  text-decoration:none;
}
.srt-menu li a{
  background:#f0f0f0;
  color:#666;
  margin:0; 
  padding:10px 20px;
  border-bottom:none;

}
.srt-menu a, .srt-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
  color:      #666; 
}
.srt-menu li:hover > a,
.srt-menu li.current a{ 
  color:#cc0000;
}



.flex-control-nav {bottom: 10px;}

}

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1024px) {

} 

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

} 

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { 

  
}

/*
PRINT STYLESHEET
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}